{% extends 'base/base.html' %}
{% block title %}
Change Password
{% endblock title %}

{% block content %}

<section class="login">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4 class="text-center my-3"><i>Change Password</i></h4>
                <form method="POST" action="{% url 'change-password' %}">
                    {% csrf_token %}
                    <label>Enter New Password</label>
                    <input class="form-control mb-4" type="password" name="password1" required minlength="8" maxlength="14">
                    <label>Confirm Password</label>
                    <input class="form-control mb-4" type="password" name="password2" required minlength="8"
                        maxlength="14">
                    <button class="btn btn-primary float-end">Change</button>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}